@model FollowMyTv.DomainLayer.Proposal
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Proposal #@Model.Id</legend>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Html.DisplayFor( model => model.Show.Name )
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor( model => model.Show.Description )
    </div>
</fieldset>
<div id="seasonbox">
</div>
<p>
    @Html.ActionLink( "Edit", "Edit", new { id = Model.Id } ) |
    @Html.ActionLink( "Back to List", "Index" )
</p>