/* FollowMyTv Application Specific
----------------------------------------------------------*/

#paging_content #paging_tab
{
    width: 100%; /*text-align: center;*/
    text-align: center;
}

#paging_content .show_info .show_avatar
{
    float: left;
    overflow: hidden;
}

#paging_content .show_info .show_name
{
    margin-left: 130px;
}

#paging_content .show_info .show_actions
{
    margin-left: 130px;
}

#paging_content .show_info .show_avatar img
{
    width: 120px;
    height: 80px;
}

/* Styles for auto-complete*/

input.search-input {
    float: right;
    margin-left: 10px;
}

table.autocomplete 
{
    position: relative;
    float: right;
    margin-top: 28px;
    margin-right: -216px;
    width: 206px;
    text-align: left;
    z-index: 1;
}

tr.autocomplete:hover
{
    background-color: #D6D6FF;
    cursor: pointer;
    /*cursor: hand;*/
}

tr.autocomplete
{
    background-color: #5c87b2;
}

td.autocomplete
{
    padding: 5px;
    width: 100%;
}

#search_results a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
}
