@using FollowMyTv.WebApp;

<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Shows", "Index", "Shows")</li>

@if (User.IsAuthenticatedUser())
{
<li>@Html.ActionLink("Proposals", "Index", "Proposals")</li>
}
@if (User.IsAdministrator())
{
<li>@Html.ActionLink("Administration", "Index", "Admin")</li>
}
