<div>
    @using (Html.BeginForm("Index", "Search"))
    {
        <input id="search" class= "search-input" type="text" name="query" title="Search" autocomplete="off"/>
    }
</div>

<div id="search_results">
</div>